.nav
{
    background-color: #292b2c;
    height: 50px;
    margin: 15px;
}
a{
    text-decoration: none !important;
    padding: 12px 25px;
    color: #fff !important;
    letter-spacing: 2px;
}
.box-shadow {
	-webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
	-moz-box-shadow:    0px 10px 20px 0px rgba(50, 50, 50, 0.52);
	box-shadow:         0px 10px 20px 0px rgba(50, 50, 50, 0.52)
}
a:active
{
    background-color: #0275d8;
}